<div class="card">
  <div class="card-body">
    <h4 class="card-title">Điểm danh</h4>

    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Thứ tự</th>
              <th scope="col">Ngày tháng</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Ghi chú</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>10/09/2020
              </td>
              <td>Không được điểm danh</td>
              <td>
                <input type="text" value="Nghỉ làm" style="color: red" disabled>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>10/09/2020
              </td>
              <td>Đã điểm danh</td>
              <td>
                <input type="text" value="" disabled>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>10/09/2020
              </td>
              <td>Đã điểm danh</td>
              <td>
                <input type="text" value="" disabled>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
