<h4 class="card-title" style="color: 'grey'">Bảng phòng ban</h4>
<div class="card">
  <div class="card-body">
    <div class="row">


      <div class="text-center" style="margin-left: 15px">
        <a routerLink="/admin/them" class="btn btn-info btn-block"><i class="icon-note menu-icon"></i>
        <span class="menu-title">Thêm phòng ban</span></a>
      </div>
  <div class="row row-cols-1 row-cols-md-3" style="margin-top: 30px;"  >
  <div class="col mb-4" *ngFor="let pb of phongbans">
    <div class="card"> <a class="nav-link" href="" routerLink="/admin/taikhoan/{{pb.id}}">
      <img src={{pb.img}} class="card-img-top" alt="...">
    </a>
      <div class="card-body">
     <h5 class="card-title">{{pb.tenPhongBan}}</h5>
        <p class="card-text">{{pb.ghiChu}}</p>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
